html {
  height: 100%;
  scroll-behavior: smooth;
}

.body {
  background-color: antiquewhite;

}

/*NAVBAR*/
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-link {
  color: black;
}

.nav-link:hover {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: black;
  font-weight: 600;
}

.navbar-logo {
  margin-left: 30px;
  transition: transform 0.2s ease-in-out;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 18px;
  color: #fff;
}

.navbar-logo:hover {
  transform: scale(1.1);
}

.navbar-text {
  color: black;
  position: absolute;
  left: 130%;
  margin-left: 10px;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.navbar-logo:hover .navbar-text {
  left: calc(100% + 10px);
  opacity: 1;
}

.nav-link,
a {
  color: black;
  font-weight: 600;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:active,
.navbar-nav .nav-link.active::after,
.navbar-nav .nav-link:active::after {
  color: #000000;
  box-shadow: #000000;
}

.navbar-nav .nav-link::after {
  display: block;
  content: '';
  border-bottom: 2px solid rgba(38, 60, 156, 0.699);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.navbar-nav .nav-link:hover::after {
  transform: scaleX(1);
}

.navbar-nav .nav-link.active::after,
.navbar-nav .nav-link:active::after {
  transform: scaleX(1);
}

.nav-wrapper {
  margin-top: 60px;
}

.transparent {
  background-color: rgba(255, 255, 255) !important;
  opacity: 0.96;
}

.nav-wrapper {
  margin-top: 60px;
}

.transparent {
  background-color: rgba(255, 255, 255) !important;
  opacity: 0.96;
}

/**seccion de el formulario de contacto**/

.section-container {
  display: flex;
  justify-content: space-between;
  background-color: #1226aa;
  margin: top 10px;
  height: 500 px;
  border-radius: 0px 10px 10px 0px;


}

.welcome-container {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.container {
  background-color: rgba(225, 225, 255, 0.89);
  width: 450px;
  display: flex;

  border-radius: 10px;
  padding: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


h1 {

  font-size: 40px;
  font-weight: 700;
  margin-top: 34px;

}

h4 {

  font-weight: 400;
  margin-top: 25px;
}
.fondoformulario{
  background-color: rgba(255, 255, 255, 0.89);
}
.formulario {
  width: 400;
  text-align: left;
  padding: 30;
  margin-bottom: 20 px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form-control{
  margin-top: 10px;
  margin-bottom: 10px;
}
.phone{
  margin-bottom: 10px;
}

**/ .-input {
  border-radius: 10px;
  width: 100%;
  margin: 20px 0px;
  padding: 7px 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  margin-bottom: -50px;
}

/**google map**/
.container-maps {
  background-color: antiquewhite;
  display: flex;
  justify-content:end ;
  margin-bottom: 100px;
}

.maps {
  margin-left: 20px;
  border-radius: 10px;
  width: 400px;
  height: 200px;
}
/*footer*/
.wrapper {
  min-height: 100%;
  width: 100%;
  margin-bottom: -50px;
}
footer{
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}   
.footer-end{
background-color: #263C9E;
display: flex;
flex-direction: row;
justify-content: center;
}
.footer-img{
width: 150px;
height:50px;
}
/* Facebook button */
.btn-facebook:hover {
background-color: #3b5998;
}

/* WhatsApp button */
.btn-whatsapp:hover {
background-color: #25d366;
}

/* Instagram button */
.btn-instagram:hover {
background-color: #C13584;
}