body {
    background-image: url("anton-8q-U8X1zkvI-unsplash.jpg");
    background-color: rgb(3, 228, 228);
    background-position: center;


}

h1 {
    font-family: "Nunito Black" sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #22193F;
    margin-bottom: 48px;
}


.formulario {
    text-align: left;
    padding: 40;
    font-family: "Nunito bold" sans-serif;

}
input,
 button {
    border-radius: 100px;
    width: 100%;
    margin: 20px 0px;
    padding: 7px 10px;
 }

button {
    background-color: rgb(17, 63, 124);
}

.navbar-brand img {
    border-radius: 50%;
  }