html{
    height:100%
}

/*NAVBAR*/

  .navbar-brand img {
    border-radius: 50%;
  }
.nav-link, a{
    color: black;
}
.nav-wrapper{
    margin-top: 60px;
}
.transparent {
    background-color: rgba(255, 255, 255) !important;
    opacity: 0.8;
  }

  /*BODY*/

body {
    background-image: url("anton-8q-U8X1zkvI-unsplash.jpg");
    background-color: rgb(3, 228, 228); /*fijarse si hay un bug visual al cambiar de pagina, se aplica el fondo y desaparece*/
    background-position: center;
}

h1 {
    font-family: "Nunito Black" sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #22193F;
    margin-bottom: 48px;
}


.formulario {
    text-align: left;
    padding: 40;
    font-family: "Nunito bold" sans-serif;

}
input,
 button {
    border-radius: 100px;
    width: 100%;
    margin: 20px 0px;
    padding: 7px 10px;
 }

button {
    background-color: rgb(17, 63, 124);
}
/*footer*/
.wrapper {
    min-height: 100%;
    width: 100%;
    margin-bottom: -50px;
}
footer{
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}   