html{
    height:100%;
    scroll-behavior:smooth;
}
body{
  background-color: antiquewhite;
}
/*NAVBAR*/
.navbar{    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}.nav-link{
    color: black;
}.nav-link:hover{
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: black;
  font-weight: 600;
}.navbar-logo {
    margin-left: 30px;
    transition: transform 0.2s ease-in-out;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
    color: #fff;
  }.navbar-logo:hover{
    transform: scale(1.1);
  }.navbar-text {
    color: black;
    position: absolute;
    left: 130%;
    margin-left: 10px;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
    opacity: 0;
  }.navbar-logo:hover .navbar-text {
    left: calc(100% + 10px);
    opacity: 1;
  }.nav-link, a{
    color: black;
    font-weight: 600;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:active,
.navbar-nav .nav-link.active::after,
.navbar-nav .nav-link:active::after {
  color: #000000;
  box-shadow: #000000;
}

.navbar-nav .nav-link::after {
  display: block;
  content: '';
  border-bottom: 2px solid rgba(38, 60, 156, 0.699);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.navbar-nav .nav-link:hover::after {
  transform: scaleX(1);
}

.navbar-nav .nav-link.active::after,
.navbar-nav .nav-link:active::after {
  transform: scaleX(1);
}

.nav-wrapper{
    margin-top: 60px;
}.transparent {
    background-color: rgba(255, 255, 255) !important;
    opacity: 0.96;
  }.nav-wrapper{
    margin-top: 60px;
}.transparent {
    background-color: rgba(255, 255, 255) !important;
    opacity: 0.96;
  }
  /*BODY*/
  .section-container{ /*container del form y mensaje e bienvenida*/
    display: flex;
    background-color: #1226aa;
}.welcome-container{/*container para los <h1,<h2>,<h3>*/
    display: flex;
    flex-direction: column;
    color:white;
    width: 100%;
    margin-left: 10px;
}h1{
    font-weight: 200;
    margin-top: 80px;
    text-align: center;
  }h2{
    font-size: 40px;
    font-weight: 700;
    margin-top: 100px;
  }h3{
    font-size: 20px;
    margin-top: 100px;
  }h4 {
    margin-top: 20px;
    font-family:"Nunito" sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #22193F;
    margin-bottom: 10px;
}
/*FORMULARIO*/
.form{ /*container del formulario*/
  background-color: rgba(255, 255, 255, 0.89); 
  width: 300px;
  display: flex;
  flex-basis: 90% ;
  justify-content: center;
  margin-bottom: 30px;
}.formulario {
  text-align: right;
  padding: 100px;
  font-family: "Nunito" sans-serif;
  width: 100%;
  align-items: center;
}
.input{/*inputs formulario presupuesto*/
  background-color: whitesmoke;
  border: none !important;
  text-align: center;
  margin: 0;
}
.col-md-6 { /*columna de la derecha con inputs*/
  text-align: center;
  padding: 20px;
  font-family: "nunito black italic" sans-serif;
  width: 100%;

}
.form-row{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.welcome-container{
 background-size: 10%, cover;
 background-position: center;
 height: 100px;
}
.form-check{
  margin-top: 20px;
}

/*TARJETAS*/
.container{
  width: 100%;
  background-color: antiquewhite;
  margin-top: 50px;
  margin-bottom: 50px;
}.card-container{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 50px;
  gap:50px;
  flex-wrap: wrap;
}.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  flex-wrap: wrap;
}ul{
  margin: 0;
}h6{
  margin: 0;
}.resp{
  margin-left: 20px;
}.card{
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}.last-img{
  height:230px;
}input,button {
    border-radius: 100px;
    width: 100%;
    margin: 20px 0px;
    padding: 7px 10px;
    font-family: "Nunito" sans-serif;
    font-size: black;
}
.b2 {
  background-color: rgb(17, 63, 124);
}
.prev-benefits{
  color:gray;
  line-height: 1;
  margin-top: 10px;
}
.btn-primary {
  background-color: #1226aa;
  border-color: #1226aa;
}

.btn-primary:hover {
  background-color: lighten(#1226aa, 20%);
  border-color: #1c3daa;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
/*footer*/
.wrapper {
    min-height: 100%;
    width: 100%;
    margin-bottom: -50px;
}
footer{
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}   
.footer-end{
  background-color: #263C9E;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-img{
  width: 150px;
  height:50px;
}
/* Facebook button */
.btn-facebook:hover {
  background-color: #3b5998;
}

/* WhatsApp button */
.btn-whatsapp:hover {
  background-color: #25d366;
}

/* Instagram button */
.btn-instagram:hover {
  background-color: #C13584;
}

/* Quienes somos */
.h1-quienes-somos{
  margin: 1rem;
}
.quienes-somos {
  margin: 1rem;
}
.imagen-qs{
  display: flex;
  margin: auto;
  width: 90%;
  height: auto;
}

/*Estilo formulario*/
.section-container {
  background-color: #1226aa;
  margin-top: 5%;
}

.h1-form {

  font-size: 40px;
  font-weight: 700;
  margin-top: 100px;

}

.h4-form {

  font-weight: 400;
  margin-top: 100px;
  color:white;
}

.container-form {
  background-color: rgba(225, 225, 255, 0.89);

}

.formulario-contacto {
  text-align: left;
  padding: 30;
  font-family: "nunito" sans-serif;

}

.-input {
  border-radius: 10px;
  width: 100%;
  margin: 20px 0px;
  padding: 7px 10px;
  font-family: "Nunito" sans-serif;
  font-size: black;
}
 span {
  color: red
 }
 @media screen and (max-width: 1199px) {
  .last-img{
    height: 190px;
    margin-bottom: 0;
  }
 }
 @media screen and (max-width: 991px) {
  nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-logo {
    margin: 0;
    left: 40%;
    height:80px;
    width: 80px;
  }
  .navbar-logo,
  .navbar-logo:hover,
  .navbar-text,
  .navbar-link:active {
    transition: none;
    transform: none;
    color:white;
  }
  .section-container{
    flex-direction: column;
    justify-content: center;
    flex-basis:100%;
    height: fit-content;
    width: 100%;
  }
  .welcome-container{
    justify-content: center;
    flex-direction: column;
    flex-basis:100%;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    align-items: center;
    flex-wrap: nowrap;
  }
  .form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis:100%;
    width: 100%;
    height: 100%;
  }

  .container .row .card-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .col-md-4{
    width: 80%;
    align-items: center;
  }.h-100{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    width: 500px;
  }
  .card-img-top{
    width: 500px;
    height: 300px;
  }
  h6{
    margin-bottom: 5px;
    font-size: x-large;
  }
  .card-body{
    margin-bottom: 0;
    line-height: 1.3;
    align-items: center;
    width: fit-content;
  }
  .resp{
    margin-bottom: 0;
    line-height: 1.3;
  }
  .resp-li{
    margin-right: 195px;
  }
  .btn-primary{
    width: fit-content;
  }
  }@media screen and (max-width: 767px) {
    .col-md-4{
      width: 90%;
      align-items: center;
    }
    .h-100{
      display: flex;
      width: fit-content;
      justify-content: center;
      align-items: center;
      width: 450px;
    }
    .card-img-top{
      width: 450px;
      height: 250px;
    }
  }
  @media screen and (max-width: 700px) {
    h1{
      font-size: 30px;
      text-align: center;
      margin-right: 15px;
    }
    h2{
      font-size: 30px;
      text-align: center;
      margin-top: 30px;
      margin-right: 15px;
    }
    h3{
      flex-wrap: wrap;
      text-align: center;
      margin-top: 30px;
      margin-right: 15px;
    }
    .container .row .card-container{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: fit-content;
    }
    .card-img-top{
      width: 450px;
    }
    h6{
      margin-bottom: 10px;
      font-size: x-large;
    }
    .card-body{
      margin-bottom: 0;
      line-height: 1.5 ;
      align-items: center;
    }
    .btn-primary{
      width: fit-content;
    }
  }
  @media screen and (max-width:575px){
    .col-md-4{
      width: 85%;
    }
  }
  @media screen and (max-width:550px){
    .col-md-4{
      width: 80%;
      margin-right: 50px;
    } .h-100{
      width: 450px;
    }
    .card-img-top{
      width: 450px;
      height: 250px;
    }
  }
@media screen and (max-width:500px){
  .h-100{
    width: 400px;
  }.col-md-4{
    width: 80%;
    margin-left: 15px;
  }
  .container .row .card-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-top: 0;
    margin-right: 30px;
  }

  .card-img-top{
    width: 400px;
    height: 250px;
  }
  h6{
    margin-bottom: 5px;
    font-size: large;
  }
  .card-body{
    line-height: 1.3;
    align-items: center;
  }
  .resp{
    line-height: 1.3;
  }
  .btn-primary{
    width: fit-content;
  }
}@media screen and (max-width:450px){
  .col-md-4{
    width: 100%;
    align-items: center;
    margin-left: 30px;
  }
  .h-100{
    width: 350px;
  }
  .card-img-top{
    width: 350px;
    height: 200px;
  }
}
@media screen and (max-width:420px){
  .col-md-4{
    width: 100%;
    align-items: center;
  }
  .h-100{
    width: 330px;
  }
  .card-img-top{
    width: 330px;
    height: 200px;
  }
}
@media screen and (max-width:400px){
  .col-md-4{
    width: 100%;
    align-items: center;
  }
  .h-100{
    width: 300px;
  }
  .card-img-top{
    width: 300px;
    height: 200px;
  }
  .card-body{
    align-items: center;
  }
  .plan-joven{
    margin-left: 10px;
    align-items: center;
    padding-left: 10px;
  }
}
@media screen and (max-width:390px){
  .col-md-4{
  margin-right:20px;
  margin-left: 20px;
  }
}
@media screen and (max-width:350px){
  .col-md-4{
  margin-right:10px;
  margin-left: 10px;
  }
}
@media screen and (max-width:350px){
  .col-md-4{
  margin-right:5px;
  margin-left: 0px;
  }
}