html{
    height:100%;
    scroll-behavior:smooth;
}

/*NAVBAR*/

.navbar{    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.navbar a:hover{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: black;
}

  .navbar-brand img {
    border-radius: 50%;
  }
.nav-link, a{
    color: black;
    font-weight: 600;

}
.nav-wrapper{
    margin-top: 60px;
}
.transparent {
    background-color: rgba(255, 255, 255) !important;
    opacity: 0.8;
  }

  /*BODY*/

body {
    background-image: url("anton-8q-U8X1zkvI-unsplash.jpg");
    background-color: rgba(126, 229, 255, 0.89); /*fijarse si hay un bug visual al cambiar de pagina, se aplica el fondo y desaparece*/
    background-position: center;
    background-size: 170%, cover;
    background-repeat: no-repeat;
}

h1 {
    font-family:"Nunito" sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #22193F;
    margin-bottom: 48px;
}


.formulario {
    text-align: right;
    padding: 30;
    font-family: "Nunito" sans-serif;
    

}
input,
 button {
    border-radius: 100px;
    width: 100%;
    margin: 20px 0px;
    padding: 7px 10px;
    font-family: "Nunito" sans-serif;
    font-size: black;
 }

button {
    background-color: rgb(17, 63, 124);
}
/*footer*/
.wrapper {
    min-height: 100%;
    width: 100%;
    margin-bottom: -50px;
}
footer{
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}   