html{
    height:100%;
    scroll-behavior:smooth;
}
body{
  background-color: antiquewhite;

}
/*NAVBAR*/
.navbar{    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}
.navbar a:hover{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: black;
}

  .navbar-brand img {
    border-radius: 50%;
  }
.nav-link, a{
    color: black;
    font-weight: 600;
}
.nav-wrapper{
    margin-top: 60px;
}
.transparent {
    background-color: rgba(255, 255, 255) !important;
    opacity: 0.96;
  }

  /*BODY*/
  .section-container{ /*container del form y mensaje e bienvenida*/
    display: flex;
    justify-content: space-between; 
    background-color: #1226aa;
    margin-bottom: -20px;
}
  .welcome-container{/*container para los <h1,<h2>,<h3>*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:white;
    width: 100%;
    margin-left: 10px;
}
  h1{
    font-weight: 200;
    margin-top: 100px;
  }
  h2{
    font-size: 40px;
    font-weight: 700;
    margin-top: 100px;
  }
  h3{
    font-size: 20px;
    margin-top: 100px;
  }
  h4 {
    margin-top: 20px;
    font-family:"Nunito" sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #22193F;
    margin-bottom: 48px;
}
/*FORMULARIO*/
.form{ /*container del formulario*/
  background-color: rgba(255, 255, 255, 0.89); 
  border-radius: 0 0 0 70px;
  width: fit-content;
  display: flex;
  flex-basis: 90% ;
  justify-content: space-between; 
  align-items: flex-start; 
  margin-bottom: 20px;
}
.formulario {
    text-align: right;
    padding: 30px;
    font-family: "Nunito" sans-serif;
}
.form-row{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
/*TARJETAS*/

.container{
  width: 100%;
  background-color: antiquewhite;
  margin-top: 50px;
  margin-bottom: 50px;
}
.card-container{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  gap:50px;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5;
}
ul{
  margin: 0;
}
h6{
  margin: 0;
}
.card{
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.last-img{
  height:230px;
}
input,
 button {
    border-radius: 100px;
    width: 100%;
    margin: 20px 0px;
    padding: 7px 10px;
    font-family: "Nunito" sans-serif;
    font-size: black;
 }

button {
    background-color: rgb(17, 63, 124);
}
.prev-benefits{
  color:gray;
  line-height: 0;
}
.btn-primary {
  background-color: #1226aa;
  border-color: #1226aa;
}

.btn-primary:hover {
  background-color: lighten(#1226aa, 20%);
  border-color: #1c3daa;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
/*footer*/
.wrapper {
    min-height: 100%;
    width: 100%;
    margin-bottom: -50px;
}
footer{
z-index: 3;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}   