body {
    background-image: url("anton-8q-U8X1zkvI-unsplash.jpg");
    background-color: rgb(3, 228, 228);
    background-position: center;
    padding: 40px;

}

h1 {
    font-family: "Nunito Black" sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #22193F;
    margin-bottom: 48px;
}

.container {
    background-color: wheat;
}


.formulario {
    text-align: right;

}
input,
 button {
    border-radius: 100px;
    width: 100%;
    margin: 20px 0px;
    padding: 7px 10px;
 }